@import "directories/utils/variables";
@import "directories/utils/mixin";

body {
    margin: 0px;
    width: auto;
}

#contenu {
    display: flex;
    flex-direction: column;
}

header {
    background-color: $color-primary;
    .head-section {
        @include head-section;
    }
}

.compte {
    display: flex;
    align-items: flex-end;
    @include screen-size(mobile) {
        flex-direction: column;
        align-items: center;
    }
    &__icon, &__user {
        margin: 10px;
    }

}

i {
    font-size: 30px;
}

h1 a {
    font-family: 'Yellowtail', cursive;
}

footer {
    @include foot;
    .pied {
        display: block;
    }
}

a {
    font-family: 'Unna', serif;
    text-decoration: none;
    color: black;
}

.metier {
    text-align: center;
}

.produit {
    display: flex;
    flex-direction: column;
    align-items: center;
    h2 {
        text-align: center;
        font-family: 'Unna', serif;
    }
    h3 {
        font-family: 'Unna', serif;
    }
}

#allproducts {
    width: auto;
    margin: 50px 150px;
    @include screen-size(tablet) {
        margin: 50px 40px;
    }
    @include screen-size(mobile) {
        margin: 30px 10px;
    }
}

.produit__ours {
    &--fond {
        @include produit__ours--fond;
    }
    &--1 {
        width: 58%;
    }
    &--2 {
        @include produit__ours--2;
            button {
                margin: 5px;
                @include screen-size(mobile) {
                    font-size: small;
                }
            }
    }
}

.part1, .part2 {
    margin: 20px;
    @include screen-size(mobile) {
        margin: 10px 5px;
    }
}

.part1 {
    display: flex;
    justify-content: space-between;
}

.part2 {
    background-color: $color-tertiary;
    border-radius: 10px;
    p {
        margin: 20px;
    }
}

.details {
    margin: 65px 20px;
    @include screen-size(tablet) {
        margin: 45px 20px;
    }
    @include screen-size(tablet-s) {
        margin: 0px;
    }
}

.details p {
    font-size: x-large;
    @include screen-size(mobile-l) {
        font-size: large;
    }
    @include screen-size(mobile) {
        font-size: medium;
    }
}

P {
    font-family: 'Unna', serif;
}

img {
    border-radius: 10px;
    width: 100%;
    height: 100%;

}

/* Page produit début */

.page-produit__ours {
    @include page-produit;
}

#page-produit__ours--1 {
    width: 58%;
    @include screen-size(mobile) {
        width: auto;
    }
}

#page-produit__ours--2 {
    @include page-produit__ours--2;
}

.bloc1 {
    display: flex;
    justify-content: space-between;
    margin: 20px;
    @include screen-size(mobile) {
        flex-direction: column;
        margin: 12px 12px 2px 12px;
    }
}

#ours__nom, #prix {
    font-size: xx-large;
    @include screen-size(mobile) {
        font-size: larger;
        margin: 0px 0px 10px 0px;
    }
}

.bloc2 {
    width: auto;
    background-color: $color-tertiary;
    margin: 20px;
    border-radius: 10px;
    @include screen-size(mobile) {
        margin: 2px 12px 12px 12px;
    }
    p {
        margin: 20px;
    }
}

#details-page {
    padding: 10px;
}

.selection {
    display: flex;
    flex-direction: column;
}

select {
    margin: 10px 90px;
    @include screen-size(computer-s) {
        margin: 10px 50px;
    }
}

button {
    background-color: $color-primary;
    padding: 6px;
    border-radius: 4px;
    font-size: initial;
    margin-top: 30px;
    cursor: pointer;
    &:hover {
        background-color: darken($color: $color-primary, $amount: 10);
    }
}

.description {
    margin: 20px;
    height: 300px;
}

/* Page panier début*/

.panier {
    width: auto;
}

h2 {
    text-align: center;
}

.commande {
    background-color: $color-secondary;
    //width: 60%;
    margin: 50px 50px;
    padding: 30px;
    border-radius: 20px;
    @include screen-size(tablet-s) {
       width: auto;
       margin: 30px;
    }
}

table {
    width: auto;
    background-color: $color-tertiary;
    border-collapse: collapse;
    border-radius: 10px;
}

table {
    margin: auto;
}

td, th {
    padding: 20px;
    text-align: center;
}

th {
    background-color: rgb(170, 104, 170);
}

button.supprimer {
    margin-top: 0px;
}

.formulaire {
    background-color: $color-secondary;
    padding: 10px 100px;
    margin: 50px 220px;
    border-radius: 20px;
    width: auto;
    @include screen-size(computer-s) {
        margin: 50px 130px;
    }
    @include screen-size(tablet) {
        padding: 10px 50px;
        margin: 30px;
    }
}

.formulaire__fond {
    width: auto;
    margin: 50px auto;
    border-radius: 10px;
    background-color: $color-tertiary;
    padding: 20px;
}

.selection-validation input[type=text],
.selection-validation input[type=email],
.selection-validation input[type=tel],
.selection-validation input[type=number] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
  
.selection-validation button {
    width: 100%;
    background-color: $color-primary;
    color: white;
    font-size: larger;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    &:hover {
        background-color: darken($color: $color-primary, $amount: 10);
    }
}

caption {
    color: white;
    margin: 10px;
}

caption, legend {
    font-size: larger;
}

// Page confirmation début

#confirmation {
    margin: 50px 200px;
    text-align: center;
    font-size: x-large;
}

.page {
    display: flex;
    flex-direction: column;
}

footer#foot-confirm {
    //display: flex;
    //justify-content: space-between;
    padding: 10px;
    position: fixed;
    bottom: 0px;
    width: 100%;
}
