@mixin screen-size($breakpoint) {
    @if map-has-key($map: $breakpoints, $key: $breakpoint) {
        @media (max-width: map-get($breakpoints, $breakpoint)){
            @content;
        }
    }
 }

@mixin head-section {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 30px;
}

@mixin foot {
    display: flex;
    justify-content: space-around;
    background-color: $color-primary;
}

@mixin produit__ours--fond {
    //width: 800px;
    height: auto;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    background-color: $color-secondary;
    margin: 20px 0px;
}

@mixin produit__ours--2 {
    background-color: $color-tertiary;
    width: 40%;
    border-radius: 10px;
    text-align: center;
}


/* Page produit début*/

@mixin page-produit {
    background-color: $color-secondary;
    width: auto;
    height: auto;
    margin: 100px 200px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    @include screen-size(tablet) {
        margin: 50px 100px;
    }
    @include screen-size(tablet-s) {
        margin: 50px 30px;
    }
    @include screen-size(mobile) {
        margin: 20px 5px;
    }
}

@mixin page-produit__ours--2 {
    background-color: $color-tertiary;
    width: 40%;
    border-radius: 10px;
    text-align: center;
    @include screen-size(mobile) {
        width: auto;
    }
}

/* Page panier début*/