@mixin screen-size($breakpoint) {
    @if map-has-key($map: $breakpoints, $key: $breakpoint) {
        @media (max-width: map-get($breakpoints, $breakpoint)){
            @content;
        }
    }
 }

@mixin head-section {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 30px;
}

@mixin foot {
    display: flex;
    justify-content: space-around;
    background-color: $color-primary;
}

@mixin produit__ours--fond {
    width: 800px;
    height: 300px;
    border-radius: 20px;
    display: flex;
    background-color: $color-secondary;
    margin: 20px;
}

@mixin produit__ours--2 {
    background-color: $color-tertiary;
    width: 50%;
    margin: 20px 20px 20px 0px;
    border-radius: 10px;
    text-align: center;
}


/* Page produit début*/

@mixin page-produit {
    background-color: $color-secondary;
    width: 900px;
    height: 700px;
    margin: 100px auto;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
}

@mixin page-produit__ours--2 {
    background-color: $color-tertiary;
    width: 50%;
    margin: 20px 20px 24px 0px;
    border-radius: 10px;
    text-align: center;
}

/* Page panier début*/