@charset "UTF-8";
/*Couleur du site*/
/*Maps avec une liste pour les media queries*/
/* Page produit d├®but*/
/* Page panier d├®but*/
body {
  margin: 0px;
  width: auto; }

#contenu {
  display: flex;
  flex-direction: column; }

header {
  background-color: #e4ad46; }
  header .head-section {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 30px; }
    @media (max-width: 479px) {
      header .head-section {
        padding: 15px; } }
  @media (max-width: 479px) {
    header .fa-shopping-basket {
      font-size: 25px; } }

i {
  font-size: 30px; }

h1 a {
  font-family: 'Yellowtail', cursive; }

footer {
  display: flex;
  justify-content: space-around;
  background-color: #e4ad46; }
  @media (max-width: 479px) {
    footer {
      flex-direction: column; } }
  footer .pied {
    display: block; }
    footer .pied p {
      font-weight: bold;
      margin-left: 15px; }

a {
  font-family: 'Unna', serif;
  text-decoration: none;
  color: black; }

.metier {
  text-align: center; }

.produit {
  display: flex;
  flex-direction: column;
  align-items: center; }
  .produit h2 {
    text-align: center;
    font-family: 'Unna', serif; }
  .produit h3 {
    font-family: 'Unna', serif; }

#allproducts {
  width: auto;
  margin: 50px 150px; }
  @media (max-width: 1029px) {
    #allproducts {
      margin: 50px 40px; } }
  @media (max-width: 479px) {
    #allproducts {
      margin: 30px 10px; } }

.produit__ours--fond {
  height: auto;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  background-color: #ad670a;
  margin: 20px 0px; }
.produit__ours--1 {
  width: 58%; }
.produit__ours--2 {
  background-color: #fcf5d9;
  width: 40%;
  border-radius: 10px;
  text-align: center; }
  .produit__ours--2 button {
    margin: 5px; }
    @media (max-width: 479px) {
      .produit__ours--2 button {
        font-size: small; } }

.part1, .part2 {
  margin: 20px; }
  @media (max-width: 479px) {
    .part1, .part2 {
      margin: 10px 5px; } }

.part1 {
  display: flex;
  justify-content: space-between; }

.part2 {
  background-color: #fcf5d9;
  border-radius: 10px; }
  .part2 p {
    margin: 20px; }

.details {
  margin: 65px 20px; }
  @media (max-width: 1029px) {
    .details {
      margin: 45px 20px; } }
  @media (max-width: 699px) {
    .details {
      margin: 0px; } }

.details p {
  font-size: x-large; }
  @media (max-width: 559px) {
    .details p {
      font-size: large; } }
  @media (max-width: 479px) {
    .details p {
      font-size: medium; } }

P {
  font-family: 'Unna', serif; }

img {
  border-radius: 10px;
  width: 100%;
  height: 100%; }

/* Page produit d├®but */
.page-produit__ours {
  background-color: #ad670a;
  width: auto;
  height: auto;
  margin: 100px 200px;
  border-radius: 20px;
  display: flex;
  flex-direction: column; }
  @media (max-width: 1029px) {
    .page-produit__ours {
      margin: 50px 100px; } }
  @media (max-width: 699px) {
    .page-produit__ours {
      margin: 50px 30px; } }
  @media (max-width: 479px) {
    .page-produit__ours {
      margin: 20px 5px; } }

#page-produit__ours--1 {
  width: 58%; }
  @media (max-width: 479px) {
    #page-produit__ours--1 {
      width: auto; } }

#page-produit__ours--2 {
  background-color: #fcf5d9;
  width: 40%;
  border-radius: 10px;
  text-align: center; }
  @media (max-width: 479px) {
    #page-produit__ours--2 {
      width: auto; } }

.bloc1 {
  display: flex;
  justify-content: space-between;
  margin: 20px; }
  @media (max-width: 479px) {
    .bloc1 {
      flex-direction: column;
      margin: 12px 12px 2px 12px; } }

#ours__nom, #prix {
  font-size: xx-large; }
  @media (max-width: 479px) {
    #ours__nom, #prix {
      font-size: larger;
      margin: 0px 0px 10px 0px; } }

.bloc2 {
  width: auto;
  background-color: #fcf5d9;
  margin: 20px;
  border-radius: 10px; }
  @media (max-width: 479px) {
    .bloc2 {
      margin: 2px 12px 12px 12px; } }
  .bloc2 p {
    margin: 20px; }

#details-page {
  padding: 10px; }

.selection {
  display: flex;
  flex-direction: column; }

select {
  margin: 10px 90px; }
  @media (max-width: 1269px) {
    select {
      margin: 10px 50px; } }

button {
  background-color: #e4ad46;
  padding: 6px;
  border-radius: 4px;
  font-size: initial;
  margin-top: 30px;
  cursor: pointer; }
  button:hover {
    background-color: #d8971f; }

.description {
  margin: 20px;
  height: 300px; }

/* Page panier d├®but*/
.panier {
  width: auto; }

h2 {
  text-align: center;
  margin-top: 30px; }

.commande {
  background-color: #ad670a;
  margin: 50px 220px;
  padding: 30px;
  border-radius: 20px; }
  @media (max-width: 1269px) {
    .commande {
      margin: 50px 130px; } }
  @media (max-width: 1029px) {
    .commande {
      padding: 10px 50px;
      margin: 30px; } }
  @media (max-width: 699px) {
    .commande {
      width: auto;
      margin: 30px; } }
  @media (max-width: 479px) {
    .commande {
      margin: 3px;
      padding: 5px; } }

table {
  width: auto;
  background-color: #fcf5d9;
  border-collapse: collapse;
  border-radius: 10px; }
  @media (max-width: 479px) {
    table {
      border-radius: 20px; } }

table {
  margin: auto; }

td, th {
  padding: 20px;
  text-align: center; }
  @media (max-width: 479px) {
    td, th {
      padding: 10px 0px; } }

th {
  background-color: #aa68aa; }

#btn_moins, #btn_plus {
  border: none;
  width: 15px; }

#btn_number {
  border: none;
  width: 15px;
  background: none;
  text-align: center; }

button.supprimer {
  margin-top: 0px;
  font-size: xx-small; }

.formulaire {
  background-color: #ad670a;
  padding: 10px 100px;
  margin: 50px 220px;
  border-radius: 20px;
  width: auto; }
  @media (max-width: 1269px) {
    .formulaire {
      margin: 50px 130px; } }
  @media (max-width: 1029px) {
    .formulaire {
      padding: 10px 50px;
      margin: 30px; } }
  @media (max-width: 479px) {
    .formulaire {
      padding: 10px;
      margin: 20px 3px; } }

.formulaire__fond {
  width: auto;
  margin: 50px auto;
  border-radius: 10px;
  background-color: #fcf5d9;
  padding: 20px; }
  @media (max-width: 479px) {
    .formulaire__fond {
      margin: 5px;
      padding: 2px; } }

.selection-validation input[type=text],
.selection-validation input[type=email],
.selection-validation input[type=tel],
.selection-validation input[type=number] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box; }

.selection-validation #valider {
  width: 100%;
  background-color: #e4ad46;
  color: white;
  font-size: larger;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer; }
  .selection-validation #valider:hover {
    background-color: #d8971f; }

caption, legend {
  font-size: larger; }

caption {
  color: white;
  margin: 10px; }
  @media (max-width: 479px) {
    caption {
      font-size: medium; } }

#confirmation {
  margin: 50px 200px;
  text-align: center;
  font-size: x-large; }
  @media (max-width: 479px) {
    #confirmation {
      margin: 50px 20px;
      font-size: medium; } }

.page {
  display: flex;
  flex-direction: column; }

footer#foot-confirm {
  padding: 10px;
  position: fixed;
  bottom: 0px;
  width: 100%; }
  @media (max-width: 479px) {
    footer#foot-confirm {
      position: unset; } }

.retourAc {
  text-align: center;
  font-size: x-large; }
  @media (max-width: 479px) {
    .retourAc {
      font-size: medium; } }

/*# sourceMappingURL=style.css.map */
